{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('new_proveedor') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

        {% for flash_message in app.session.flashbag.get('delete_proveedor') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}


    <h3>Proveedores</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código Postal</th>
                <th>Localidad</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor in proveedors %}
            <tr class="hover_fila">
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.codigoPostal }}</td>
                <td>{{ proveedor.localidad }}</td>
                <td>{{ proveedor.email }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td class="celda_edit"><input type="image" class="icono_editdelete" src="/img/icono-editar.svg" onclick="window.open('{{ path('proveedor_edit', {'id': proveedor.id}) }}','', ',height=600,width=600,left=500,top=60')"></td>
                <td class="celda_delete">{{ include('proveedor/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay proovedores registrados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<input type="image" class="add_icon" src="/img/plus-circle-solid.svg" onclick="window.open('{{ path('proveedor_new') }}','', ',height=600,width=600,left=500,top=60')">

{% endblock %}
