{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
 
    <div id="datos_usuario">
        <table id ="show_panel_tabla" class="table">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ usuario.email }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ usuario.nombre }}</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>{{ usuario.telefono }}</td>
                </tr>
                <tr>
                    <th>Nombre de Usuario</th>
                    <td>{{ usuario.nombreUsuario }}</td>
                </tr>
                <tr>
                    <th>Foto</th>
                    <td><img src="/img/usuarios/{{ usuario.foto }}" width="30%"/></td>
                </tr>
            </tbody>
        </table>

        <div id="botones_editar">
            <button class="btn" onclick="location.href='{{ path('usuario_edit', {'id': usuario.id}) }}'">Editar</button>
            <button class="btn" onclick="location.href='/articulo'">Volver</button>
        </div>
    </div>
{% endblock %}
