
<!DOCTYPE html>
<html lang=es>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/main_page.css">
	<link rel="icon" type="image/x-icon" href="{{ asset('/img/favicon.ico') }}" />
	<script type="text/javascript" src="js/main_page.js"></script>
	<title>Restaurante JMJ</title>

</head>
<body>
	<header>
		<div>
			<a href='{{ path('bienvenida')}}'><img src="img/logo.png" id="logo"></a>
		</div>
			<div id="marginNav">
			<a href="{{ path('carta' ) }}">Carta</a>
			<a href="{{ path('contacto' ) }}">Contacto</a>
			<a href="{{ path('app_login' ) }}">Gestión</a>
		</div>
		<div>
			<a href="https://es-es.facebook.com/" class="social"><img src="img/facebook.svg"></a>
			<a href="https://www.instagram.com/?hl=es" class="social"><img src="img/instagram.svg"></a>
			<a href="https://twitter.com/?lang=es" class="social"><img src="img/twitter.svg"></a>
		</div>
	</header>

	<main>
		<img src="img/img1.png" class="img_main">
        <img src="img/img2.png" class="img_main">
        <img src="img/img3.png" class="img_main">
        <img src="img/img4.png" class="img_main">
        <img src="img/img5.png" class="img_main">
	</main>
	
	<footer>
		
	</footer>
</body>
</html>