{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('new_pedido') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('delete_articulo') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h3>Registro</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Número de Pedido</th>
                <th>Proveedor</th>
                <th>Fecha de pedido</th>
                <th>Fecha de entrega</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
        
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.getIdProveedor }}</td>
                <td>{{ pedido.fechaPedido ? pedido.fechaPedido|date('d-m-Y') : '' }}</td>
                <td>{{ pedido.fechaEntrega ? pedido.fechaEntrega|date('d-m-Y') : '' }}</td>
                <td class="celda_edit"><input type="image" class="icono_editdelete" src="/img/icono-editar.svg" onclick="window.open('{{ path('pedido_edit', {'id': pedido.id}) }}','', ',height=600,width=600,left=500,top=60')"></td>
                <td class="celda_delete">{{ include('pedido/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay pedidos registrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Linea de Pedido -->
    <br>
    <br>
    <br>
    <h3>Líneas de pedido</h3>

    <table id="tabla_linea" class="table">
        <thead>
            <tr>
                <th>Número de línea</th>
                <th>Artículo</th>
                <th>Unidades</th>
                <th>Precio Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for linea_pedido in linea_pedidos %}
            <tr>
                <td>{{ linea_pedido.id }}</td>
                <td>{{ linea_pedido.getIdArticulo() }}</td>
                <td>{{ linea_pedido.unidades }}</td>
                <td>{{ linea_pedido.precioLinea }}€</td>
                <td class="celda_edit"><input type="image" class="icono_editdelete" src="/img/icono-editar.svg" onclick="window.open('{{ path('linea_pedido_edit', {'id': linea_pedido.id}) }}','', ',height=600,width=600,left=500,top=60')"></td>
                <td class="celda_delete">{{ include('linea_pedido/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay líneas de pedido registradas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form_linea">
    <h6><b>Nueva línea de pedido</b></h6>
    {{ include('linea_pedido/_form.html.twig') }}
    </div>
    </div>

    <div class="form_pedido">
    <h6><b>Realizar pedido</b></h6>
    {{ include('pedido/_form.html.twig') }}
    </div>
    </div>

    <!-- Validación líneas de pedido para poder hacerlo -->
    <script>
        var tabla = document.getElementById('tabla_linea');
        var celda = tabla.getElementsByTagName('td');
        var boton = document.getElementById('boton');
        var aviso = document.getElementById('pedido_aviso');

        if(celda[0].innerHTML != "No hay líneas de pedido registradas"){
            boton.disabled = false;
            aviso.style.visibility = "hidden";
        }else{
            boton.disabled = true;
            aviso.style.visibility = "visible";
        }
    </script>

    <!-- Validación fecha de pedido -->
    <script>
        var fecha_input = document.getElementById('pedido_fecha_entrega');
    
        fecha_input.addEventListener('blur',function(){

            var fecha = new Date();

            var mes = (fecha.getMonth() + 1).toString();

            if (mes.length <=1 ) {
                mes = "0" + mes;
            }

            var dia = fecha.getDate().toString();

            if (dia.length <=1 ) {
                dia = "0" + dia;
            }

            var anio = fecha.getFullYear().toString();

            var fecha_actual = fecha.getFullYear() + "-" + mes + "-" + dia;

            var fecha_pedido = new Date(anio, mes, dia);
            
            var fecha_entrega = new Date(fecha_input.value.substring(0,4), fecha_input.value.substring(5,7), fecha_input.value.substring(8,10));

            if( fecha_input.value <= fecha_actual){
                alert('Fecha de entrega anterior o igual a la fecha de pedido!!');
                fecha_input.value = "";
            }else if( fecha_entrega.getMonth() > (fecha_pedido.getMonth()+2) ){
                alert('La fecha de entrega no puede ser superior a 2 meses de la fecha de pedido.');
                fecha_input.value = "";
            }else if( fecha_entrega.getMonth() == (fecha_pedido.getMonth()+2) && fecha_entrega.getDate() > fecha_pedido.getDate() ){
                alert('La fecha de entrega no puede ser superior a 2 meses de la fecha de pedido.');
                fecha_input.value = "";
            }else if( fecha_entrega.getMonth() == (fecha_pedido.getMonth()+2) && fecha_entrega.getFullYear() > fecha_pedido.getFullYear() ){
                alert('La fecha de entrega no puede ser superior a 2 meses de la fecha de pedido.');
                fecha_input.value = "";
            }else if( fecha_entrega.getFullYear() > fecha_pedido.getFullYear() ){
                alert('La fecha de entrega no puede ser superior a 2 meses de la fecha de pedido.');
                fecha_input.value = "";
            }
        })
    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/unidades_pedido_validacion.js') }}"></script>
{% endblock %}