<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Gestiona JMJ{% endblock %}</title>
        {% block stylesheets %}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
        <link rel="icon" type="image/x-icon" href="{{ asset('/img/favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/style/bootstrap4/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/style/bootstrap4/css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" href="{{ asset('/style/main.css') }}">
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="logo_tamaño" src="{{ asset('/img/logo.png') }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if is_granted('ROLE_GERENTE') %}
    <li class="nav-item active">
        <a class="nav-link" href="/register">Registro</a>
    </li>
    {% endif %}
    {% if not app.user %}
      <li class="nav-item active">
        <a class="nav-link" href="/login">Acceder</a>
      </li>
      {% endif %}
      {% if is_granted('ROLE_ENCARGADO') or is_granted('ROLE_GERENTE') %}
      <li class="nav-item">
        <a class="nav-link" href="/articulo">Artículos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/proveedor">Proveedores</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/pedido">Pedidos</a>
      </li> 
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      {% endif %}
    </ul>
    {% if app.user %}
      <span style="padding-right:10px;color:black;"><img src="/img/icono.png" width="30px" height="20px" /> {{app.user.username}} <a href="{{ path('app_logout') }}"><img src="/img/logout.png" style="margin-left:5px;"width="15px" height="20px"></a></span>
    {% endif %}


  </div>
</nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}

        <footer>
          <div class="footerPropio">
          Aplicación creada con Symfony 4. Realizada por Mario Cortés, Jaime Indart y José Manuel López. Copyright 2020 ©
          </div>
        </footer>
    </body>

</html>
