{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('new_articulo') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('delete_articulo') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h3>Almacén</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio/Unidad</th>
                <th>Existencias</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr class="hover_fila">
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.descripcion }}</td>
                <td>{{ articulo.precio }}€</td>
                <td>{{ articulo.existencias }}</td>
                <td class="celda_edit"><input type="image" class="icono_editdelete" src="/img/icono-editar.svg" onclick="window.open('{{ path('articulo_edit', {'id': articulo.id}) }}','', ',height=600,width=600,left=500,top=60')"></td>
                <td class="celda_delete">{{ include('articulo/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay artículos registrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<input type="image" class="add_icon" src="/img/plus-circle-solid.svg" onclick="window.open('{{ path('articulo_new') }}','', ',height=600,width=600,left=500,top=60')">
    

{% endblock %}


